@charset "UTF-8";
/* Common Styling */
body {
	background-color: #E5E5E5;
	padding: 0;
	overflow-x: hidden;
}

h2 {
	font-family: Inter, sans-serif;
}

input {
	border: none;
	outline: none;
	display: inline-block;
	height: 34px;
	vertical-align: middle;
	position: relative;
	border-radius: 22px;
	box-sizing: border-box;
	padding: 0 18px;
}

.errorMessage {
	font-family: Inter, sans-serif;
	color: #b30517;
}

.link {
	text-decoration: none;
}

.font1 {
	font-family: Inter, sans-serif;
	color: white;
	font-weight: bold;
	text-align: justify;
}

.font2 {
	font-family: Inter, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}

.font3 {
	font-family: Inter, sans-serif;
	color: black;
	text-align: justify;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.table1 {
  border-collapse: separate;
  border-spacing: 25px;
}


.title {
	color: black;
	text-align: center;
	font-family: Inter, sans-serif;
	font-size: larger;
	margin-bottom: 10px;
}

.titlePadding {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 1%;
}

.navPadding {
	background: rgba(179, 5, 23, 0.8);
	padding: 10px;
	border-radius: 10px;
}

/* white button black text with red text hover */
.button-1 {
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	background: white;
	color: black;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
}

.button-1:hover {
	color: #b30517;
}

/* red button with white text : white button black text hover */
.button-2 {
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	background: #b30517;
	color: white;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
}

.button-2:hover {
	background-color: white;
	color: black;
}

/* Home Page Styling */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.detailPadding {
	background: rgba(179, 5, 23, 0.8);
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;
}

.imageContainer {
	position: relative;
	height: 6%;
	width: 45%;
	top: 0%;
	left: 28%;
	margin: none;
	padding: none;
}

.buttonContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: end;
}

/* Login Page Styling */
.loginContainer {
	margin-top: 8%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	top: 0%;
}

.loginImageContainer {
	position: relative;
	width: 25%;
	height: 50%;
	left: 19%;
}

.loginFormContainer {
	position: relative;
	right: -22%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.innerLoginFormContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginFormPadding {
	background: rgba(255, 255, 255, 0.5);
	padding: 15px;
	width: 30%;
	border-radius: 15px;
}

.loginFormContainer>div {
	margin-bottom: 20px;
}

.loginNavBarContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

/* Customer Styling */

/* Customer Profile */
.customerNavBarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.profileIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.infoPadding {
	background: #f2eded;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
}

.bodyContainer {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-evenly;
}

.innerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.contentContainer {
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 5%;
}

.profileButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px;
	width: 100%;
	border-radius: 10px;
	margin-left: 10%;
}

/* customer acc styling */


.accContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}